<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>SI-FACTORY : Cabang not Found</title>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('')"></nav>
<div class="card m-4 p-4">
    <div class="card-header bg-danger">
        <h3 style="text-align:center; font-weight:bold; color:white">Mohon maaf</h3>
    </div>
    <div class="card-body">
        <div class="justify-content-center">
            <br>
            <h3 th:text="'Cabang dengan id ' + ${delivery.idCabang} + ' tidak ditemukan '" style="text-align:center"></h3>
            <br>
        </div>
    </div>
    <div class="card align-items-center" style="background-color: white;width: 20%; padding: 0px; margin: 0px; border-radius:10px; border-color:transparent">
        <a class="btn btn-dark" href="/list-delivery">Kembali</a>
    </div>
</div>
</body>
</html>