<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>SI-FACTORY : Item</title>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<nav th:replace="fragments/fragment :: navbar('')"></nav>
<div class="container">
    <br>
    <div class="card-body">
        <div class="justify-content-center">
            <div th:if="*{listPegawai.size() != 0}">
                <h2 class="text-center" style="font-weight:bold; color:#3B3B3B">Daftar Seluruh Pegawai Si Factory</h2>
                <br>
                <table class="table">
                    <thead style="background-color: rgb(255, 91, 91); color:white">
                    <tr>
                        <th>No</th>
                        <th>Nama Pegawai</th>
                        <th>Role</th>
                        <th>Gaji</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pegawai, iterationStatus : ${listPegawai}"
                        th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${pegawai.namaPegawai}"></td>
                        <td th:text="${pegawai.role.namaRole}"></td>
                        <td th:text="${listGajiTiapPegawai[__${iterationStatus.index}__]}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:unless="*{listPegawai.size() != 0}">
                <div class="d-flex flex-column align-items-center">
                    <h2 class="p-1 text-center" style="color: grey; font-size: 40px; font-weight: bold;" th:text="'Tidak ada Produksi'"></h2>
                <img class="p-2 img-fluid" alt="Responsive image" th:src="@{/img/emptydata.jpg}" width="50%">
                </div>

            </div>
        </div>
        <div class="card align-items-center" style="background-color: white;width: 100%; padding: 0px; margin: 0px; border-radius:10px; border-color:transparent">
            <a class="btn btn-dark" href="/">Kembali</a>
        </div>
    </div>
    <br>
</div>
</body>
</html>