<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>SI-FACTORY : Daftar Kurir</title>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment"></nav>
<div class="card m-4 p-4">
    <div class="card-header bg-danger">
        <h3 style="text-align:center; font-weight:bold; color:white;">Pilih Kurir</h3>
    </div>
    <form th:action="@{/delivery/add/} + ${idRequestUpdateItem} + '/' + ${idCabang} " th:object="${delivery}" method="POST" onSubmit="return confirm('Do you want to submit?')">
    <div class="card-body">
<!--        <input type="hidden" th:field="*{idCabang}" />-->
<!--        <input type="hidden" th:field="*{RequestUpdateItem}" />-->
        <div class="justify-content-center">
            <label>Daftar Kurir</label>
            <Select name="pegawai" class="form-control" style="width:20%">
                <option selected value="">Pilih Kurir</option>
                <option th:each="kurir: ${listKurir}"
                        th:value="${kurir.idPegawai}"
                        th:text="${kurir.namaPegawai}">
                </option>
            </Select>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" name="submit" style="width: 25%">Submit</button>
    </form>
    <div class="card" style="background-color: white;width: 30%; padding: 0px; margin: 0px; border-radius:10px; border-color:transparent">
        <a class="btn btn-dark" href="/list-request-update-item">Kembali</a>
    </div>
</div>
</body>
</html>