<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>SI-FACTORY : Daftar Delivery</title>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<nav th:replace="fragments/fragment :: navbar('')"></nav>
<div class="container">
    <div class="card-body">
        <div class="justify-content-center">
            <div th:if="*{listDelivery.size() != 0}">
                <h2 class="text-center" style="font-weight:bold; color:#3B3B3B">Daftar Seluruh Delivery</h2>
                <br>
                <table class="table">
                    <thead class="bg-danger" style="color:white">
                    <tr>
                        <th>Nama Kurir</th>
                        <th>ID Cabang</th>
                        <th>Tanggal Dibuat</th>
                        <th>Tanggal Dikirim</th>
                        <th>ID Request Update Item</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="delivery, iterationStatus : ${listDelivery}"
                        th:if="${nama == delivery.pegawai.idPegawai || role == 'STAFF_OPERASIONAL'} "
                        th:style="${iterationStatus.even} ? 'font-weight:bold;'">
<!--                        <div th:if="${nama == delivery.pegawai.idPegawai}">-->
                            <td th:text="${delivery.pegawai.namaPegawai}"></td>
                            <td th:text="${delivery.idCabang}"></td>
                            <td th:text="${delivery.tanggalDibuat}"></td>
                            <td th:text="${delivery.tanggalDikirim}"></td>
                            <td th:text="${delivery.RequestUpdateItem.idRequestUpdateItem}"></td>
                            <td th:if="${delivery.sent == false}">
                                <a class="btn btn-sm btn-primary"
                                   style="background-color: white;width: 8rem; padding: 2px; margin: 0px; border-radius:10px;"
                                   th:href="@{/api/v2/list-cabang/} + ${delivery.idDelivery} + '/' + ${delivery.idCabang}">Kirim</a>
                            </td>
                            <td th:if="${delivery.sent == true}"> Terkirim </td>
<!--                        </div>-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:unless="*{listDelivery.size() != 0}">
                <div class="d-flex flex-column align-items-center">
                    <h2 class="p-1 text-center" style="color: grey; font-size: 40px; font-weight: bold;" th:text="'Tidak ada Delivery'"></h2>
                <img class="p-2 img-fluid" alt="Responsive image" th:src="@{/img/emptydata.jpg}" width="50%">
                </div>

            </div>
        </div>
        <div class="card align-items-center" style="background-color: white;width: 100%; padding: 0px; margin: 0px; border-radius:10px; border-color:transparent">
            <a class="btn btn-dark" href="/">Kembali</a>
        </div>
    </div>
    <br>
</div>

</body>
</html>