<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Kurir</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment"></nav>

<label>Daftar Kurir</label>
<Select name="kurir" class="form-control">
    <option selected value="">--Pilih Kurir--</option>
    <option th:each="role: ${listKurir}"
            th:value="${kurir.idPegawai}"
            th:text="${kurir.namaPegawai}" >
    </option>
</Select>
<button class="btn btn-primary" type="submit" name="submit">Submit</button>

</body>
</html>