<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>SI-FACTORY : Home</title>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Home')"></nav>
<div class="d-flex justify-content-center">
    <div class="m-4">

        <h2>Selamat datang di Si-Factory</h2>
        <h3 class="text-center" th:text="'Hello ' + ${namaPegawai}+'!'">Login as</h3>
        <div class="d-flex justify-content-center">
            <a th:href="@{/pegawai/list-pegawai}" class="mx-2 btn btn-dark">Lihat semua pegawai</a>
            <a th:href="@{/pegawai/add}" class="mx-2 btn btn-outline-dark">Tambah pegawai</a>
        </div>
<!--        <div class="my-3 d-flex justify-content-center">-->
<!--            <a th:href="@{/menu/viewall}" class="mx-2 btn btn-dark">Lihat semua menu</a>-->
<!--            <a th:href="@{/menu/add}" class="mx-2 btn btn-outline-dark">Tambah menu</a>-->
<!--        </div>-->
<!--        <div class="my-3 d-flex justify-content-center">-->
<!--            <a th:href="@{/user/viewall}" class="mx-2 btn btn-dark">Lihat semua user</a>-->
<!--        </div>-->
<!--        <div class="my-3 d-flex justify-content-center">-->
<!--            <a th:href="@{/user/updatePassword}" class="btn btn-outline-dark">Ubah Password</a>-->
<!--        </div>-->
    </div>

</div>


</body>

</html>