<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIFACTORY</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/login.css}"/>
    </head>
    <head th:fragment="js">
        <meta charset="UTF-8">
        <title> SIFACTORY </title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/login.css}"/>
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
                crossorigin="anonymous"
        ></script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>
<body>
<nav th:fragment="navbar(page)" class="navbar navbar-expand-lg navbar-light bg-danger">
    <a class="navbar-brand font-weight-bold text-light" href="/">SI-FACTORY</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMatkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li th:classappend="${page == 'Login'} ? active : ''" class="nav-item">

            </li>
            <li th:if="${role == 'ADMIN'}" th:classappend="${page == 'Pegawai'} ? active : ''" class="nav-item">
                <a class="nav-link" href="/pegawai/list-pegawai" style="color: white; font-weight: bold">Pegawai</a>
            </li>
            <li th:if="${role == 'FACTORY_MANAGER'}" th:classappend="${page == 'Rui'} ? active : ''" class="nav-item">
                <a class="nav-link" th:href="@{/list-request-update-item}" style="color: white; font-weight: bold">RUI</a>
            </li>
            <li th:if="${role == 'STAFF_GUDANG'}" th:classappend="${page == 'Rui'} ? active : ''" class="nav-item">
                <a class="nav-link" th:href="@{/list-request-update-item}" style="color: white; font-weight: bold">RUI</a>
            </li>
            <li th:if="${role == 'STAFF_OPERASIONAL'}" th:classappend="${page == 'Pegawai'} ? active : ''" class="nav-item">
                <a class="nav-link" href="/pegawai/list-pegawai" style="color: white; font-weight: bold">Pegawai</a>
            </li>
            <li th:classappend="${page == 'Item'} ? active : ''" class="nav-item">
                <a class="nav-link" href="/list-item" style="color: white; font-weight: bold">Item</a>
            </li>
            <li th:classappend="${page == 'Delivery'} ? active : ''" class="nav-item">
                <a class="nav-link" href="/" style="color: white; font-weight: bold">Delivery</a>
            </li>
            <li th:classappend="${page == 'Mesin'} ? active : ''" class="nav-item">
                <a class="nav-link" href="/" style="color: white; font-weight: bold">Mesin</a>
            </li>
<!--            <li th:classappend="${page == 'Cabang'} ? active : ''" class="nav-item">-->
<!--                <a class="nav-link" href="/cabang/viewall">Cabang</a>-->
<!--            </li>-->
<!--            <li th:classappend="${page == 'Menu'} ? active : ''" class="nav-item">-->
<!--                <a class="nav-link" href="/menu/viewall">Menu</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <form class="form-inline my-2 my-lg-0" th:action="@{/cabang/view}" method="GET">-->
<!--            <input class="form-control mr-sm-2" type="search"-->
<!--                name="noCabang" placeholder="No Cabang" aria-label="Search">-->
<!--            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:text="${role}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>